<div>
  <div [appReveal]="0" class="sec-head">
    <span class="sec-idx">05 / Education</span>
    <h2 class="sec-title">Studied.</h2>
  </div>
  <div class="edu-list">
    @for (ed of portfolio.education(); track ed._id; let i = $index) {
      <div [appReveal]="i * 80" class="edu-item">
        <div class="edu-years mono">{{ ed.from }}–{{ ed.to }}</div>
        <h3 class="edu-degree">{{ ed.degree }}</h3>
        <div class="edu-org">{{ ed.org }}</div>
        @if (ed.note) {
          <p class="edu-note">{{ ed.note }}</p>
        }
      </div>
    }
  </div>
</div>
